body{
    margin: 0;
    background-color: #056679;
    font-family: sans-serif;
}
h1{
    margin: 0;
    margin-bottom: 15px;
    color: #0c7588;
}
.todo-container{
    width: 500px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
.input-section{
    background-color: #055565;
    padding: 18px;
    border-radius: 10px;
    box-shadow: 0 7px 6px #0000003b;

}
.input-section input{
    border-radius: 5 px;
    border: 1px solid #106879;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #055565;
    outline: none;
    color: #08869e;
}
input::placeholder{
    color: #08869e;
}
ul{
    text-align: left;
    padding: 0;
}
ul li{
    list-style: none;
    text-align: left;
    background-color: #055565;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #08869e;
    box-shadow: 0 4px 6px #00000066;
    display: flex;

}
ul li i{
    text-align: right;
    flex: 1;
    cursor: pointer;
}